// Default variables
html {
	--base-font-size: 20px;
}

// Light default theme
body {
 	--bg-color: #F3F7F9;
 	--bg-content-color: #fff;
 	--bg-code: #fffbf3;
 	--body-color: rgb(5, 5, 5);
 	--title-color: #111;
 	--link-color: #6b17e6;
 	--border-color:  rgba(0,0,0,.1);;
  --space: 2.5rem;
  --content-width: 800px;
  --header-height: 60px;
  --radius: 5px;
}

// Make things smaller for mobile
@media screen and (max-width: 650px) {
	html {
		--base-font-size: 17px;
	}
	body {
		--space: 1.5rem;
		--header-height: 60px;
	}
}